.flyer {
  width: 90%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header, .sponsors {
  background-color: #f3f6fb;
  color: #000;
  width: 90%;
  margin: 2rem 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-title, .sponsor-title {
  align-self: center;
  margin: 5px;
  font-weight: 600;
}

.header-row {
  margin: 5px;
  padding-left: 1.5em;
  text-indent:-1.5em;
}

.react-add-to-calendar {
  height: 4rem;
}

.react-add-to-calendar__button {
  border-radius: 5px;
}

/*************************/
.banner {
  width: 100%;
  margin-bottom: 10px;
}

.banner-img {
  width: 100%;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.info-box {
  width: 28%;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box>a {
  margin: auto;
}

.info-box>a>img {
  width: 100%;
}

.box-header {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 3vw;
}

.box-body {
  font-size: 3vw;
  margin: auto;
}

.details-box {
  width: 91%;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 2.8vw;
}

.sponsors-box {
  width: 91%;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 2.8vw;
}

.sponsors-header {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 3vw;
}

.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sponsor-logos>img {
  margin: 1.5vw;
  width: 25%;
  height: 25%;
}